/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY */
body {
  display: grid;
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $normalWeight;
  min-width: 320px;
}

/* HEADER */
div#headerWrapper {
  grid-row-start: 1;
}

#headerWrapper {
  background-color: $secondaryColor;
  color: $secondaryColor;
}

header {
  display: grid;
  grid-template-columns: 51px auto 44px;
  align-items: center;
  padding: 0.8rem 2vw;
}
img {
  margin-left: 0.7rem;
}
h1 {
  font-size: 1.3rem;
  font-weight: $boldWeight;
  padding-left: 1.3rem;
  color: $primaryColor;
} // End of Header

/* NAVIGATION */
div#navWrapper {
  grid-row-start: 4;
  background-color: $secondaryColor;
}

div#hamburger a,
div#closex a {
  display: block;
  padding: 0.8rem 2vw;
  font-size: 1.5rem;
  color: $primaryColor;
  text-decoration: none;
  text-align: right;
} // End Navigation Buttons

div#closex a {
  margin-right: 2vw;
}

nav {
  height: 100vh;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  ul li a {
    display: block;
    color: #f1f1f1;
    padding: 0.9rem 2vw;
    text-decoration: none;
    text-align: center;
    font-weight: $boldWeight;
  } // End of Anchors
  ul li a:hover {
    color: $primaryColor;
  }
  ul li.active a {
    color: $primaryColor;
    text-decoration: underline;
  }
} // End of Navigation

/* Main */
div#mainWrapper {
  grid-row-start: 2;
  margin: $gutter;
  h1 {
    color: $secondaryColor;
    margin: 0.2rem 0;
    padding-left: 0;
  }
  p {
    font-size: 1.2rem;
  }
}

form.my-form {
  display: flex;
  flex-direction: column;
}

.my-form h3 {
  color: $accentColor;
  border-bottom: 0.5px solid rgb(208, 208, 208);
  margin-bottom: 0.6rem;
}

.my-form label {
  color: #00274e;
  margin-bottom: 0.5rem;
  input {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
}

/* REQUIRED FIELDS VALIDATION */
form.my-form label input[required]:invalid {
  border-left: solid 3px red;
}
form.my-form label input[required]:valid {
  border-left: solid 3px green;
}

/* REQUIRED INFOMATION / BOX WIDTH*/
.my-form label input[type="text"],
input[type="email"][name="email"],
input[type="text"][name="username"],
input[name="Previous School"],
input[type="tel"][name="phone"],
input[type="password"][name="password"],
.my-form label select,
.my-form label input[type="date"] {
  width: 75vw;
  border: 1px solid black;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  padding: 0.3rem;
  background-color: #ffffff;
}

/* SUBMIT BUTTON STYLING */
.my-form input[type="submit"] {
  width: 75vw;
  padding: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 0.6rem;
  margin: 1.3rem 0;
  background-color: $secondaryColor;
  color: #ffffff;
  font-size: 1.2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.my-form input[type="submit"]:hover {
  cursor: pointer;
  color: $primaryColor;
}

/* FOOTER */
#footerWrapper {
  grid-row-start: 3;
  background-color: $secondaryColor;
  border-bottom: 1px solid #cacaca;
}
footer {
  padding: 0.8rem $gutter;
  p {
    color: $primaryColor;
    margin: 0;
    font-weight: $normalWeight;
    text-align: center;
  }
}
