$primaryColor: #ffd100;
$secondaryColor: #00274e;
$accentColor: #1c922e;
$fontColor: #d52626;
//#007f4f
$defaultFont: "Hanken Grotesk", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
